.conteudo {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.conteudo img{
    display: flex;
    max-width: 100%;
}

.conteudo > div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    font-size: 2rem;
    text-align: center;
}