@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
}

.tit-sec {
    text-align: center;
    margin: 2vh 0;
    font-size: 2rem;
}

/* breakpoint */

@media (max-width: 735px) {
    .cabecalho {
        flex-direction: column;
    }

    .cabecalho nav{
        flex-wrap: nowrap;

    }

    .cabecalho a{
        padding: 5%;
        font-size: 7vw;

    }
}